In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [40]:
d = [["apple",10,100],['orange',20,100],["banana",5,10]]

In [42]:
df = pd.DataFrame(d,columns = ["name","quantity","cost"])

In [43]:
df.loc[4] = ["sser",2,2]

In [44]:
df["t"] = df['quantity']*df['cost']

In [45]:
df

     name  quantity  cost     t
0   apple        10   100  1000
1  orange        20   100  2000
2  banana         5    10    50
4    sser         2     2     4

In [46]:
s1 = pd.Series(['a','b','c','d'],name ="price")

In [47]:
s1

0    a
1    b
2    c
3    d
Name: price, dtype: object